:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3797a4;
  color: white;
  font-weight: 600;

  .title {
    padding-left: 20px;
  }
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h1 {
      color: #16a596;
  }

  .blockquote-wrapper {
      display:inline-block;
      font-family:sans-serif;
      margin:3em;
      max-width:24em;
      .blockquote {
        display:inline-block;
        margin:0;
        padding:1em;
        position:relative;
        &:before {
          color:#f90;
          content:"\201C";
          font-size:4em;
          left:0;
          line-height:.75em;
          position:absolute;
          top:0;
          transform:scale(2, 8);
          transform-origin:top;
        }
        &:after {
          color:#f90;
          content:"\201D";
          font-size:4em;
          line-height:.75em;
          position:absolute;
          right:0;
          top:0;
          transform:scale(2, 8);
          transform-origin:top;
        }
        > * {
          padding:2em 2em;
          color: #373a40;
        }
      }
    }

  svg#clouds {
      position: fixed;
      bottom: -160px;
      left: -230px;
      z-index: -10;
      width: 1920px;
  }
}



